@import './custom';
@import './responsive';
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: hotpink;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
@include mobile{
  .header{
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    &__img{
      height: 80%;
    }
  }
  .data{
    display: flex;
    flex-direction: column;
    &__center{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
    }
    &__txt-center{
      width: 90%;
    }
    &__buttons{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .height-max-foto{
    height:250px;
  }
}
@include tablet{
  .header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    &__img{
      height: 100%;
    }
  }
  .data{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    &__center{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
    }
    &__txt-center{
      width: 65%;
      font-size: 20px;
    }
    &__buttons{
      display: flex;
    }
  }
  .height-max-foto{
    height:400px;
  }
}
@include desktop{
  .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__img{
      height: 100%;
    }
  }
  .data{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80%;
    &__center{
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &__txt-center{
      width: 40%;
    }
    &__buttons{
      display: flex;
      // flex-direction: column;
    }
  }
  .height-max-foto{
    height:350px;
    padding-bottom: 30px;
  }
}
//generales
.header{
  background-color: rgb(58, 58, 58);
  color: white;
  height: 250px;
}
.data{
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__img{
    height: 400px;
    margin: 20px 5px;
  }
  &__buttons-style{
    border-radius:10px;
    background-color: white;
    font-size: 20px;
    color:grey;
    height:60px;
    width: 180px;
    margin: 5px
  }
  &__buttons-style:hover{
    color:hotpink;
  }
  &__txt-center{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  &__section{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
  }
  &__article{
    color:hotpink;
     padding: 15px 25px;
     font-size: 40px;
     border:1px dashed palevioletred;
     background-color: white;
    &:hover{
      background-color:grey;
    }
  }
  &__icon{
    font-size: 40px;
    color:rgb(58, 58, 58); 
    &:hover{
      color:hotpink;
    }
  }
}
.btn-active--color{
  background-color:lightslategray;
  color: white;
}
.language-flag--size{
  width: 30px;
}
//propiedades
.list-none-padding-none{
  list-style: none;
  padding: 0;
}
.hide{
  display: none;
}
.show{
  display:block;
}
.color-white{
  color:white;
}
.color-pink{
  color:pink;
  background-color: grey;
}
.strong{
  font-weight: bold;
}
.italic{
  font-style: italic;
}